source "https://nuget.org/api/v2"
source "https://www.myget.org/F/particular/"

nuget NServiceBus 6.0.0-unstable1656
nuget NServiceBus.StructureMap
nuget EntityFramework.SqlServerCompact ~> 6
nuget Microsoft.AspNet.Mvc ~> 5.2.3
nuget WebGrease
nuget JQuery.Validation
nuget bootstrap
nuget Microsoft.AspNet.Web.Optimization
