@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chocolate Facility</h1>
</div>

<div class="row">
    <form method="GET" action="/Produce/Index">
        <button type="submit" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Produce chocolate
        </button>
    </form>
</div>